// Table for displaying stock records
doctype html
html 
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Clarificating sales
    link(href='/css/receipt.css' rel='stylesheet')

  body
    .container.mt-5
      h2.text-center Mayondo Reciept
      p.text-center A B2B Furniture Company  
      hr
        
    
    
      h3.text-center RECEIPT  
      p Date: #{moment(sale.date).format('DD/MM/YYYY')}
      p CustomerName: #{sale.name}
      p SalesAgent: #{sale.agent.name}

      table.table
        thead
            tr
                th Product Type 
                th Product Name
                th Quantity
                th Unit Price
                th Total Price
                th Payment Type
                th Delivery Time 
        tbody
            tr
                td #{sale.productName}
                td #{sale.productType}
                td #{sale.quantity}
                td #{sale.unitPrice}
                td #{sale.quantity * sale.unitPrice}   // -- total price calc
                td #{sale.payment}
                td #{sale.delivery}
                    
                
        p Payment Type: #{sale.payment}
        hr
        h4.text-center Thank You For Your Purchase!
        p.text-center Visit Us Again!
        button(onclick="window.print()" class='btn.btn-primary') Print Receipt
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')

  
