extends table_layout

block content
  .container.mt-5
    h3.mb-3 Stock Records

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css")

    table.table.table-bordered.table-striped
      thead.table-dark
        tr
          th Product Name
          th Product Type
          th Cost Price
          th Selling Price
          th Quantity
          th Supplier Name
          th Quality
          th Color
          th Measurements
          th Status
          if currentUser.role === 'manager'
            th Update
            th Delete
      tbody
        each item in stocktab
          tr
            td #{item.productName}
            td #{item.productType}
            td #{item.costPrice}
            td #{item.sellPrice}
            td #{item.quantity}
            td #{item.supplierName}
            td #{item.quality}
            td #{item.color}
            td #{item.measurements}
            if currentUser.role === 'manager'
              td
                if item.quantity <= 20
                  span.badge.bg-danger Low Stock (#{item.quantity} left)
                else
                  span.badge.bg-success In Stock
              td
                a.btn.btn-sm.btn-outline-warning(href=`/editstockhistory/${item._id}`, title="Edit")
                  i.bi.bi-pencil-square
              td
                form(method='post', action=`/deletestockhistory/${item._id}`, onsubmit="return confirm('Are you sure you want to delete this stock record?');")
                  input(type='hidden', name='id', value=item._id)
                  button.btn.btn-sm.btn-outline-danger(type='submit', title="Delete")
                    i.bi.bi-trash
        else
          tr
            td(colspan="12").text-center No stockhistory available

    // Add Stock button (placed below table)
    a.btn.btn-success.mt-3(href='/stock') Add Stockhistory
