extends table_layout

block content
  .container.mt-5
    h3.mb-3 Stock Records
    table.table.table-bordered.table-striped
      thead.table-dark
        tr
          th Product Name
          th Product Type
          th Cost Price
          th Selling Price
          th Quantity
          th Supplier Name
          th Quality
          th Color
          th Measurements
          th Status
      tbody
        if items && items.length
          each item in items
            tr
              td #{item.productName}
              td #{item.productType}
              td #{item.costPrice}
              td #{item.sellPrice}
              td #{item.quantity}
              td #{item.supplierName}
              td #{item.quality}
              td #{item.color}
              td #{item.measurements}
              td
                if item.quantity <= 20
                  span.badge.bg-danger Low Stock (#{item.quantity} left)
                else
                  span.badge.bg-success In Stock
        else
          tr
            td(colspan="10").text-center No stock available

    // Add Stock button (placed below table)
    a.btn.btn-success.mt-3(href='/stock') Add Stock
